# dependencies
node_modules/
.yarn/*
!.yarn/releases
!.yarn/versions
.yarn/cache
.yarn/install-state.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# data
data/**/download/

# misc
.DS_Store
.env*
.idea
.history
