<div id="{{ search_bar_id }}" class="gn-search-bar">
    <div class="input-group">
        <input
            placeholder="Search"
            class="form-control"
            value=""
            style="outline: none; box-shadow: none;"
        />
        <div class="input-group-append">
            <button id="{{ search_bar_id }}-apply" type="button" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>

<script>
    (function() {
        window.addEventListener('DOMContentLoaded', function() {

            const searchInput = document.querySelector('#{{ search_bar_id }} input');
            const searchApply = document.querySelector('#{{ search_bar_id }}-apply');
            var value = '';

            function onSearch(q) {
                const hash = window.location.hash || '';
                const splitHash = hash.split('?') || [];
                const queryHash = splitHash[1] || '';
                const params = queryHash.split('&');
                var newParams = q ? ['q=' + q] : []; 
                for (var i = 0; i < params.length; i++) {
                    if (params[i] && params[i].indexOf('q=') !== 0) {
                        newParams.push(params[i]);
                    }
                }

                const newQueryHash = newParams.join('&');
                const catalogPagePath = window.__GEONODE_CONFIG__.localConfig.geoNodeSettings.catalogPagePath;
                const searchPath = '/catalogue/#/search';
                const baseCatalogPath = catalogPagePath ? searchPath.replace('/catalogue/', catalogPagePath) : searchPath;
                
                location.href = baseCatalogPath + (newQueryHash ? '?' + newQueryHash : '');
            }

            searchInput.addEventListener('input', function(event) {
                value = event.target.value;
            });

            searchApply.addEventListener('click', function() {
                if (value) {
                    onSearch(value);
                }
            });

            searchInput.addEventListener('keyup', function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    onSearch(value);
                }
            });

        });
    })();
</script>
