{% load get_menu_json %}
{% get_base_left_topbar_menu as BASE_TOPBAR_MENU_LEFT %}
{% get_menu_json 'TOPBAR_MENU' as TOPBAR_MENU %}
{% get_menu_json 'TOPBAR_MENU_LEFT' as TOPBAR_MENU_LEFT %}
{% get_base_right_topbar_menu as BASE_TOPBAR_MENU_RIGHT %}
{% get_menu_json 'TOPBAR_MENU_RIGHT' as TOPBAR_MENU_RIGHT %}
{% get_user_menu as USER_MENU %}

<nav id="{{ id|default:'' }}" class="gn-menu gn-primary" data-gn-menu-resize="true">
    <div class="gn-menu-container">
        <div class="gn-menu-content">
            <div class="gn-menu-content-side gn-menu-content-left">
                {% block left_menu %}
                <ul class="gn-menu-list">
                    <li class="gn-menu-item-logo">
                        <a href="/">
                            <img src="{% block logo_src %}/static/img/geonode-logo.svg{% endblock %}" style="height: 32px; width: 32px;">
                            <span style="font-weight: bold; font-size: 20px;">Geonode</span>
                        </a>
                    </li>
                    {% for menu_item in BASE_TOPBAR_MENU_LEFT %}
                        {% include './menu_item.html' with menu_item=menu_item variant='menu' %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                    {% for menu_item in TOPBAR_MENU_LEFT %}
                        {% include './menu_item.html' with menu_item=menu_item variant='primary' %}
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
            <div class="gn-menu-content-center">
                
            </div>
            <div class="gn-menu-content-right">
                {% block right_menu %}
                <ul class="gn-menu-list">
                    {% block search_bar %}
                      {% include './search_bar.html' with search_bar_id='gn-search-bar' %}
                    {% endblock %}
                    {% block language_selector %}
                        {% include './language_selector.html' with variant='primary' align_right=True %}
                    {% endblock %}

                    {% for menu_item in USER_MENU %}
                        {% include './menu_item.html' with menu_item=menu_item variant='menu' align_right=True %}
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
