{% extends "base_about_us.html" %}

{% block title %}
Publications
{% endblock title %}

{% load i18n %}

{% block content %}
<div class="container text-center mt-6 mb-2">
    <div class="page-header">
        <h1 class="mb-t mt-5">Meet our Team</h1>
        <hr style="height:5pt; visibility:hidden;" />
        <p style="text-align:justify;">The design,
            development and implementation of the <a href="https://github.com/CNR-ISMAR/tools4msp">Tools4MSP</a>
            modelling framework together with the maintenance and update of the Tools4MSP Geoplatform is coordinated
            by the Tools4MSP Team. The Team is part of the CNR-ISMAR (<a href="http://www.ismar.cnr.it/">Italian
                National Research Council - Institute of Marine Sciences</a>), Office of Venice. Currently, our
            research activities focus on the analysis of cumulative effects from human activities, trade-off-synergies
            analysis of multiple sea uses, ecosystem-based approach, integration of ecosystem services into MSP
            and development of open source tools to support MSP and ICZM.</p>
    </div>
</div>
<hr style="height:5pt;" />
<div class="container mt-6">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/andrea_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Andrea Barbanti</h5><span class="work d-block">Research Manager</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>Has a PhD in Earth Sciences and a background in environmental geochemistry
                        and coastal oceanography. He is Research Manager at National Research Council - Institute of Marine Sciences
                        (CNR</span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">-ISMAR), where he develops science-to-policy activities and research initiatives promoting Blue Growth
                        at national and EU level, focusing on the Mediterranean basin. He is member of the Project Management Team
                        of BLUEMED Coordination and Support Action and coordinator of the BLUEMED Policy Platform. He is coordinating
                        or is involved since 2012 in several National and European projects dealing with Maritime Spatial Planning
                        (MSP) (e.g. RITMARE, ADRIPLAN, MUSES, SUPREME, SIMWESTMED, CO-EVOLVE, PORTODIMARE, PHAROS4MPAs, ITEM, MSPMED),
                        developing and testing approaches and tools for MSP in the Adriatic-Ionian Region and the Mediterranean
                        and supporting in all aspects the MSP implementation process. Since 2019 he is National Focal Point for the
                        UNESCO/IOC-DG MARE MSPglobal Initiative.</span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/alessandro_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Alessandro Sarretta</h5><span class="work d-block">Researcher</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>Degree in Environmental Sciences, Master in Geographical Information Systems and
                        Remote Sensing, PhD in Environmental Sciences.
                        Researcher at CNR-ISMAR from 2012 and CNR-IRPI </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">from 2019, previously grant holder at Joint Research Centre
                        of European Commision at ISPRA (VA). Working on Coastal and Marine Environments, Maritime Spatial Planning,
                        Decision Support tools, Spatial data Infrastructures, Research Data Management, Standards and Interoperability,
                        Open Science
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr style="height:5pt; visibility:hidden;" />
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/stefano_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Stefano Menegon </h5><span class="work d-block">Researcher</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>Stefano is an Environmental Engineer with a PhD in Information
                        Technology for Environmental Science. He is an expert on environmental
                        and predictive modelling, geospatial analysis,</span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">geostatistics, complex
                        data integration, data sharing strategies, interoperable
                        infrastructure and collaborative geospatial web applications.
                        Currently he is senior research-technologist at CNR Institute of
                        Marine Science (Venice, Italy) working on the design and development
                        of geospatial tools to support Integrated Coastal Zone Management
                        (ICZM) and Maritime Spatial Planning (MSP) activities and, more in
                        general, in translating environmental challenges into data-driven
                        models and tools. Since 2013, he is coordinating the development of
                        the Tools4MSP modelling framework.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/amedeo_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">Dr. Amedeo Fadini</h5><span class="work d-block">PhD Student</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>Work experience in computer science the field of Geographic Information Systems
                        (GIS) planning and cartography, especially in the Public Sector. Bachelor degree in Communication Science</span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">(2006) and Master’s degree in GIS and Remote Sensing (2014) qualified as
                        Land Planner (2016).
                        As a GIS analyst and developer works mainly on data infrastructure, maintenance, design and upgrade alongside the
                        development and implementation on web based support tools.
                        Is currently enrolled as a PhD student with the IUAV University in Venice.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr style="height:5pt; visibility:hidden;" />
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/emiliano_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">Emiliano Ramieri</h5><span class="work d-block">Researcher</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>Has a Degree in Environmental Sciences and is Research Manager at the National
                        Research Council – Institute
                        of Marine Sciences (CNR-ISMAR). His research mainly focus on science to policy and </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        science to practices projects
                        and activities at the national, Mediterranean and EU level, specifically dealing with Maritime Spatial Planning
                        (MSP), Integrated Coastal Zone Management (ICZM), Land-Sea Interactions (LSI), sustainable blue economy and climate
                        change adaptation (in particular in coastal and marine areas). Since 2011, he has been involved in several MSP and
                        ICZM projects, as SHAPE, MUSES, SUPREME, SIMWESTMED, MASRPLAN-BS, EU MSP Platform, PHAROS4MPAs and MSPMED.
                        Since 2011 to 2021 he has been member of the European Topic Centre on Climate Change Adaptation of the EEA,
                        in particular contributing to the development of the EU Climate-ADAPT platform. He is also experienced in regional
                        (Mediterranean Sea) and sub-regional cooperation (Adriatic-Ionian region) on above topics.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/elena_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Elena Gissi</h5><span class="work d-block">Researcher</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>Elena Gissi, PhD, Senior Researcher, is visiting scholar at Stanford University,
                        Hopkins Marine Station, USA.
                        She was awarded of a Marie Skłodowska-Curie Fellowship by the European </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        Commission with her project MEDIX
                        “Marine Environmental DynamIcs and seX-based analysis for climate change adaptation in marine spatial planning”
                        (2020-2023). Her research focuses on understanding and modelling the responses to climate change of marine life
                        at multiple levels of biological diversity, to incorporate this knowledge in marine management and CC adaptation
                        and mitigation. She has over a decade of research experience in producing and integrating ecological knowledge and
                        insights in decision making processes. She has applied her findings in marine spatial planning, and also in
                        environmental and energy planning. She was Assistant Professor at the University Iuav of Venice, where she
                        coordinated the local research units in many research projects (e.g., ADRIPLAN, SUPREME, SIMWESTMED).
                        Among others, she designed and coordinated the Interreg Europe Project IRENES “Integrating RENewable
                        energy and Ecosystem Services in environmental and energy policies”,
                        and the Erasmus Mundus Master Course on Maritime Spatial Planning. She holds the Italian National Habilitations
                        as Associate Professor in Ecology and Spatial Planning.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr style="height:5pt; visibility:hidden;" />
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/ginevra_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">Ginevra Capurso</h5><span class="work d-block">Research Assistant </span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>After a Bachelor Degree in Political
                        Science, she pursued a Master of Science in
                        Governance of Sustainability. She gained
                        experience on EU’s marine-related policies
                    </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        with a focus on the protection of marine
                        environments and the impacts of human
                        activities at sea, by conducting research on
                        the Marine Strategy Framework Directive (MSFD)
                        and the Sustainable Fishery Partnership
                        Agreements (SFPAs). Currently researching the
                        role and contribution that Maritime Spatial
                        Planning (MSP) processes can give to the
                        development of a sustainable blue economy both
                        on a national and European scale through
                        harmonic and coherent policies
                        implementation.After a Bachelor Degree in
                        Political Science, she pursued a Master of
                        Science in Governance of Sustainability. She
                        gained experience on EU’s marine-related
                        policies with a focus on the protection of
                        marine environments and the impacts of human
                        activities at sea, by conducting research on
                        the Marine Strategy Framework Directive (MSFD)
                        and the Sustainable Fishery Partnership
                        Agreements (SFPAs). Currently researching the
                        role and contribution that Maritime Spatial
                        Planning (MSP) processes can give to the
                        development of a sustainable blue economy both
                        on a national and European scale through
                        harmonic and coherent policies implementation.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/sofia_tools4msp.jpeg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">Sofia Bosi</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>
                        Research assistant at the Institute of Marine Sciences of the Italian National
                        Research Council (CNR-ISMAR) in Venice with a Master’s degree in Physical Oceanography. She specialised in the
                        study</span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        of particle dispersal at the ocean surface using Lagrangian particle tracking, with a focus on the effects
                        of Stokes drift on particle transport. Currently working on the design, development and application of decision
                        support tools for the assessment of the cumulative impacts of natural and anthropogenic pressures in the marine
                        environment, as well as development of risk analysis and assessment of future scenarios, adaptive planning and
                        management measures.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <hr style="height:5pt; visibility:hidden;" />
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/alessandrom_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">Alessandro Mulazzani</h5><span class="work d-block">Researcher</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>
                        Degree in Environmental Sciences and Master of
                        Sciences in Marine Resource Development and
                        Protection. Experience in Marine protected
                        areas management and planning (was member of
                        the MPA technical secretary of the Italian
                        Ministry of Environment in
                        2001-2003).
                    </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        Involved in several national projects about
                        environmental protection, coastal zone
                        management and planning, landscape planning
                        and architecture and international projects
                        about MSP.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/martina_tools4msp.jpg" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Martina Bocci</h5><span class="work d-block">Consultant</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>
                        Director at t-ELIKA (Venice, Italy). Martina holds a MSc in Biology (Padua, IT) and a PhD in Ecology (Copenhagen, DK).
                        She provides studies and consultancies in marine and coastal planning and management.
                    </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        She is acquainted with coastal and marine monitoring and modelling studies, analysis and assessments, in the context of European and Mediterranean policies.
                        She holds experience in Integrated Coastal Zone Management (ICZM), Maritime Spatial Planning (MSP), marine biodiversity conservation,
                        Sustainable Blue Economy (tourism, maritime traffic, marine renewable energy, fishery and aquaculture), principles and practices of
                        Blue Circular Economy. She has experiences in stakeholder engagement and in raising public awareness.
                        As volunteer for Legambiente (Italian national ONG), Martina organises clean-ups, beach monitoring and citizen-science initiatives
                        addressing marine litter and other environmental issues.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mb-0" style="text-align:center">Internships</h3>
    <hr style="height:5pt; visibility:hidden;" />
    <hr style="height:5pt; visibility:hidden;" />
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/and_fil_tools4msp.png" width="150">
                <h5 class="mt-3 name" style="color:#3595f6">Andrea Tonon and Filippo Bonetto</h5><span class="work d-block">Internship Trainees</span><span class="work d-block"></span>
                <div class="mt-4 about" style="text-align:justify; padding:40px;">
                    <span>
                        Interns at the Institute of Marine Sciences of the Italian National Research Council (CNR ISMAR, Venice) studying
                        Data Science at Ca'Foscari University in Venice. They are working on a </span>
                    <span class="text-expand-dots">...</span>
                    <span class="text-expand-more">
                        web application that can help researchers filter AIS data.
                    </span>
                    <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="height:25pt; visibility:hidden;" />
<h3 class="mb-0" style="text-align:center">Former Members</h3>
<hr style="height:5pt; visibility:hidden;" />
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/laura_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">Dr. Laura Gusatu</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
                <!--div class="mt-4 about" style="text-align:justify; padding:40px;"  >
                        <span>
                            Degree in Urban Design and Planning and Master in Territorial Planning and Regional
                             Development. Currently finalizing her PhD in Spatial and Environmental Planning of offshore renewable </span>
                            <span class="text-expand-dots">...</span>
                            <span class="text-expand-more">
                             energy infrastructure, with a focus on offshore wind farm deployment in the North Sea basin. The PhD project was part
                             of the ENSYSTRA research consortium, under European Union’s Horizon 2020 Marie Skłodowska-Curie research an
                            d innovation programme.
                        </span>
                        <button class="text-expand-button" onclick="textExpandFunction(this)"><i class="fa fa-chevron-right"></i></button>
                    </div-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/matteo_tools4msp.png" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">Dr. Matteo Ranalli</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
            <!--span>
                Matteo Ranalli (Advanced Master in Sustainable Blue Growth and Master's Degree in Innovation and Development)
                has extensive experience in sustainable blue economy policies, gained </span>
                <span class="text-expand-dots">...</span>
                <span class="text-expand-more">
                    through participation in projects and programs in collaboration with
                    private sector, government institutions, research organizations, and consulting companies. His activities cover both integrated policy
                    aspects, such as maritime spatial planning and marine environment protection, and sectoral aspects, particularly in the areas of maritime
                    transport, fishing, and tourism. He has participated in numerous projects on the Mediterranean, European, and global scales, for Disney Cruise
                    Line, Ecorys, the University of Cagliari, EMFF/EASME, and the Minorca Environmental and Social Observatory.
                </span-->

        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/elisabeth_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">Dr. Elisabeth De Maio</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
            <!--span>Research assistant at the Institute of Marine Sciences of the Italian National Research Council (CNR ISMAR, Venice)
                with a master degree in biology.
                She's currently working on development of</span>
                <span class="text-expand-dots">...</span>
                <span class="text-expand-more">
                    web-based tools to support management and publication of oceanographic
                    and ecological data.
                </span-->
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/elisabetta_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Elisabetta Manea</h5><span class="work d-block">PostDoc-Research Fellow</span><span class="work d-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/chiara_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Chiara Venier</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/daniel_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Daniel Depellegrin</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/andreavia_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">Dr. Andrea Vianello</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/giulio_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">PhD, Giulio Farella</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img style="border-radius: 50%;" src="/static/img/team/agnese_tools4msp.jpg" width="100">
                <h5 class="mt-3 name" style="color:#3595f6">Dr. Agnese Cosulich</h5><span class="work d-block">Research Assistant</span><span class="work d-block"></span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}