<div class="container py-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-4">Explore geospatial data</h2>
      <p>
        Discover and explore geospatial data published by our other users,
        organizations and public sources. Downlaod data in standard formats,
        create beautiful maps and share them with the world.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/catalogue/#/" class="btn btn-primary btn-lg">Explore data</a>
    </div>
  </div>
</div>
