{% load i18n %}

<div class="container py-5">
  <div class="row text-center">
    <!-- Datasets -->
    <div class="col-md-3 mb-4">
      <a href="/catalogue/#/?f=dataset" class="text-decoration-none">
        <div class="card h-100">
          <div class="card-body">
            <i class="fa fa-database fa-3x text-primary mb-3"></i>
            <h5 class="card-title">{% trans "Datasets" %}</h5>
            <p class="card-text">{{ layers_count }} {% trans "datasets" %}</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Maps -->
    <div class="col-md-3 mb-4">
      <a href="/catalogue/#/?f=map" class="text-decoration-none">
        <div class="card h-100">
          <div class="card-body">
            <i class="fa fa-map fa-3x text-primary mb-3"></i>
            <h5 class="card-title">{% trans "Maps" %}</h5>
            <p class="card-text">{{ maps_count }} {% trans "map" %}</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Documents -->
    <div class="col-md-3 mb-4">
      <a href="/catalogue/#/?f=document" class="text-decoration-none">
        <div class="card h-100">
          <div class="card-body">
            <i class="fa fa-file-text fa-3x text-primary mb-3"></i>
            <h5 class="card-title">{% trans "Documents" %}</h5>
            <p class="card-text">
              {{ documents_count }} {% trans "documents" %}
            </p>
          </div>
        </div>
      </a>
    </div>

    <!-- Users -->
    <div class="col-md-3 mb-4">
      <a href="/people/" class="text-decoration-none">
        <div class="card h-100">
          <div class="card-body">
            <i class="fa fa-users fa-3x text-primary mb-3"></i>
            <h5 class="card-title">{% trans "Users" %}</h5>
            <p class="card-text">{{ users_count }} {% trans "users" %}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
