$form-text-font-size: 1.5rem;
$input-font-size: 1.5rem;
$tooltip-font-size: 1.5rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/bootstrap";



// style the navigation bar Search input
.input-group {
  /* position: relative; */
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: baseline;
  width: 100%;
}

#app {
  font-size: 0.95rem;
  padding-bottom: 50px;

  h1 {
    font-size: 1.85rem;
    margin-top: 0px;
  }

  .btn {
    font-size: 0.85rem;
    padding: 0.3rem 0.5rem;
    margin: 0 0.5rem;
  }

  div.Toastify {
    &>div {
      margin-top: 60px;
    }
  }

  // .input-group {
  //   /* position: relative; */
  //   display: flex !important;
  //   flex-wrap: nowrap !important;
  //   align-items: baseline;
  //   width: 100%;
  // }
}

// Delete Layer Popup

.swal2-container {
  z-index: 999999 !important;
  font-weight: 400 !important;
}

.swal2-html-container {
  font-size: 1em !important;
}

.swal2-confirm,
.swal2-cancel {
  font-size: 0.8em !important;
  margin: 3.2px !important;
}

.swal2-popup {
  width: 22em !important;
}

.swal2-icon,
.swal2-icon-content {
  font-size: 1.7em !important;
}

.swal2-icon {
  width: 3em !important;
  height: 3em !important;
  margin-top: 1em !important;
}

.swal2-title {
  font-size: 1.2em !important;
  font-weight: 600 !important;
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}


@import '~leaflet/dist/leaflet.css';
@import '~sweetalert2/src/sweetalert2.scss';


.cs-layer-group-use,
.cs-layer-group-casestudy {
  background-color: #efefef;
}